@model ProjetVideotheque.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<div class="editFilm">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group" id="titre">
            <label asp-for="NomFilm" class="control-label"></label>
            <input asp-for="NomFilm" class="form-control" />
            <span asp-validation-for="NomFilm" class="text-danger"></span>
        </div>
        <div class="form-group" id="year">
            <label asp-for="DateSortieFilm" class="control-label"></label>
            <input asp-for="DateSortieFilm" class="form-control" />
            <span asp-validation-for="DateSortieFilm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RealisateurFilm" class="control-label"></label>
            <input asp-for="RealisateurFilm" class="form-control" />
            <span asp-validation-for="RealisateurFilm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategorieFilm" class="control-label"></label>
            <input asp-for="CategorieFilm" class="form-control" />
            <span asp-validation-for="CategorieFilm" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrixParJour" class="control-label"></label>
            <input asp-for="PrixParJour" class="form-control" />
            <span asp-validation-for="PrixParJour" class="text-danger"></span>
        </div>

        <div class="groupButton">
            <div class="form-group " id="saveAction">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" id="saveActionInput" />
            </div>
            <div id="cancelAction">
                <a asp-action="Index"><input type="button" id="cancelActionInput" value="Annuler" /></a>
            </div>
        </div>

    </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
