/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.wrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
}

#sidebar {
    background-color: rgb(45,152,218);
    min-width: 100px;
    max-width: 100px;
    min-height: 100vh;
}

.icon {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

p{
    margin:0;
}
.row{
    margin:0px;
}
.nav-link:hover {
    background-color: rgb(69,170,242);
}

.form-control {
    border: none;
    border-bottom: 2px solid rgb(184,184,184);
}

input[type=button] {
    border: 1px solid rgb(45,152,218);
    border-radius: 5px;
    padding-left:25px;
    padding-right:25px;
}

.smallIcon {
    height: 24px;
    width: 24px;
    margin-left:20px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(45,152,218);
    border: none;
    padding: 10px 40px 10px 40px;
    border: 2px solid rgb(184,184,184);
}

.customisedBackground {
    background-color: rgb(255, 252, 252);
}

h1 {
    color: grey;
    font-size: x-large;
    padding: 16px 16px 0 16px;
    margin: 0;
}

.container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

tbody {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.table thead th {
        color: grey;
        font-weight: normal;
        font-size: 0.8em;
        border: hidden;
}

th {
    font-weight: normal;
}

.itemDispo{
    color: green;
}
.itemNonDispo{
    color: red;
}

.addClient, .addFilm, .editClient, .editFilm, .details {
    margin: auto;
    width: 50%;
    margin-top: 100px;
}

#lastName, #firstName {
    display: inline-block;
    width:49%;
}

.groupButton {
    margin-top:50px;
}

#saveAction, #cancelAction, #titre,#year {
    display: inline-block;
    width:49%;
}


#cancelActionInput {
    border: 2px solid rgb(184,184,184);
    background-color: white;
    width: 100%;
    padding: 10px 40px 10px 40px;
}

#saveActionInput {
    width: 100%;
    border: 2px solid rgb(184,184,184);
}


